<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Recepi</title>
</head>
<body>

        <%-include("navbar")%>    
    <lable>
        <input type="text" id="title" placeholder="Recepi Name">
    </lable><br>
    <lable>
        <input type="text" id="Description" placeholder="Recepi Description">
    </lable><br>
    <lable>
        <input type="text" id="ingridients" placeholder="Recepi ingridients">
    </lable><br>
    <lable>
        <input type="text" id="instructions" placeholder="Recepi instructions">
    </lable><br>

     <button>save</button>


    
</body>
</html> 